.App {
  /* min-height: 100vh; */
  width: 80vw;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0.762);
}

.Loading {
  margin: 1rem;
  font-size: 1.5rem;
  color: black;
}

@media screen and (max-width: 600px) {
  .App {
    width: 90vw;
  }
}