.App {
  /* height: 100%; */
  width: 80vw;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  /* grid-gap: 20px; */
  /* display: flex;
  flex-direction: column;
  align-content: center; */
  border-bottom: 3px solid rgba(0, 0, 0, 0.762);
}

/* .App > * {
  margin: 1rem;
} */

.Loading {
  margin: 1rem;
  font-size: 1.5rem;
  color: black;
}

@media screen and (max-width: 600px) {
  .App {
    width: 90vw;
  }
}