.DailyForecast {
  margin: 2px;
  background-color: #ffffff38;
  border: 1px solid #ffffff5f;
  width: 7rem;
  height: 9rem;
  display: grid;
  align-items: center;
  padding: 5px;
  font-size: 1rem;
}


.DailyForecast_icon, .DailyForecast_date {
  justify-self: center;
}

.DailyForecast_temperature, .DailyForecast_description {
  padding-left: 0.6rem;
}

.DailyForecast_icon {
  font-size: 2.3rem;
  margin: 0.2rem;
}

.DailyForecast_more-details {
  background: none;
  border: 0;
  padding: 0;
  padding-left: 0.6rem;
  font-size: 0.7rem;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 300px) {
  .DailyForecast {
    width: 12rem;
    height: 14rem;
    font-size: 1.3rem;
  }
  .DailyForecast_more-details {
    font-size: 1.2rem;
  }
  .DailyForecast_icon {
    font-size: 3.5rem;
  }
}