.DetailedForecast {
  width: 90%;
  background-color: #ffffff38;
  border: 1px solid #ffffff5f;
  /* border-right: 1px solid rgba(142, 142, 142, 0.728);
  border-left: 1px solid rgba(142, 142, 142, 0.728); */
  grid-column: 1 / 3;
  margin: 20px 0px 20px 0px;
  display: grid;
  grid-template: auto / 1fr 1fr;
  grid-gap: 20px;
} 

.DetailedForecast_info {
  padding: 5px;
  /* width: 100%; */
  /* margin-left: 50px; */
  /* align-self: center; */
  justify-self: end;
  /* border-right: 1px solid rgba(142, 142, 142, 0.728); */
  
  /* justify-items: center; */

}


 .DetailedForecast_info > * {
  margin: 1rem;
  /* border-right: 1px solid rgba(142, 142, 142, 0.728); */
}

.DetailedForecast_date {
  font-size: 1.5rem;
  font-weight: 800; 
}




.LargeWeatherIcon {
  width: 12rem;
  margin: 0;
  justify-self: start;
  
}

@media screen and (max-width: 600px) {
  .DetailedForecast_info {
    font-size: 0.6rem;
  }
}
