@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
/*font-family: 'Jacques Francois Shadow', cursive;*/

.Location {
  grid-column: 1 / 3;
  width: 100%;
  font-size: 2rem;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

