@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
/*font-family: 'Jacques Francois Shadow', cursive;*/

.Title {
  font-family: 'Jacques Francois Shadow', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title_title {
  font-size: 2.5rem;
  margin: 2px;
}

.Title_subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2px;
}
